{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Usuarios{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <a href="/">Inicio</a>

        {% if user.is_authenticated %}
            <a href="/dashboard/">Dashboard</a>
            <a href="/logout/">Cerrar sesión</a>
        {% else %}
            <a href="/login/">Login</a>
            <a href="/registro/">Registro</a>
        {% endif %}
    </nav>

    <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    
</body>
</html>